extends base

block body
  a(href="/")
    h1= title
  form(action="/search", method="post")
    input(type="text", name="query", data-i-search-input="true", placeholder="Search Videos")
    input(type="submit", value="Search")
  form(action="/video", method="post")
    each video in data
      div.video
        a(href=`/video?url=${encodeURIComponent(video.url)}`)
          img(src=`/image?url=${encodeURIComponent(video.thumbnails[0].url.split("?")[0])}`)
          h4= video.name
          small= video.uploaderName
          br
          small= video.uploadDate